html {
    background-color: #1a1b1e;
  
}

body, .button {
    color: white;
}

pre, .highlight {
    background-color: #141517;
}

.main {
    margin-top: 100px;
    border: 1px solid #76767621;
    border-radius: 5px;
}

.highlight {
    border-radius: 5px;
    padding: 15px;
    position: relative;
    font-size: 14px;
}

.copy-icon {
    position: absolute;
    right: 10px;
    top: 2px;
    font-size: 12px;
    cursor: pointer;
}

.actions .action {
    width: 49%;
}

.content .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input, .button-action {
    font-weight: 600;
    font-size: 14px;
}

.input {
    background-color: #2d2e33;
    border-color: #2d2e33;
    color: white;
}

.button {
    border-radius: 8px;
    background-color: #25262b;
    border: unset;
}

.buttons.has-addons {
    justify-content: center;
}

.fas {
    font-size: 13px;
}

.button.is-primary {
    background-color: #ae3fca;
}

.button.is-outline {
    color: #ae3fca;
    border: 1px solid #ae3fca;
}

.button.is-primary:hover {
    background-color: #872d9d;
}

.column {
    padding: 1.2rem;
}

::placeholder {
    color: #54504e !important;
}

@media screen and (max-width: 600px) {
    .buttons button {
      font-size: 14px;
    }
}
